<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
</head>
<body>
    <div id="circle-container">
    	<div id="tower-p-0" class="circle" style="top: 340px; left: 158px;"></div>
    	<div id="tower-p-1" class="circle" style="top: 297px; left: 159px;"></div>
    	<div id="tower-p-2" class="circle" style="top: 245px; left: 158px;"></div>
    	
    	<div id="tower-o-0" class="circle" style="top: 334px; left: 238px;"></div>
    	<div id="tower-o-1" class="circle" style="top: 263px; left: 235px;"></div>
    	<div id="tower-o-2" class="circle" style="top: 187px; left: 235px;"></div>
    	
    	<div id="tower-n-0" class="circle" style="top: 295px; left: 350px;"></div>
    	<div id="tower-n-1" class="circle" style="top: 233px; left: 350px;"></div>
    	<div id="tower-n-2" class="circle" style="top: 182px; left: 349px;"></div>
    	
    	<div id="tower-m-0" class="circle" style="top: 307px; left: 410px;"></div>
    	<div id="tower-m-1" class="circle" style="top: 245px; left: 410px;"></div>
    	<div id="tower-m-2" class="circle" style="top: 210px; left: 410px;"></div>
    	
    	<div id="tower-k-0" class="circle" style="top: 344px; left: 468px;"></div>
    	<div id="tower-k-1" class="circle" style="top: 308px; left: 468px;"></div>
    	<div id="tower-k-2" class="circle" style="top: 258px; left: 468px;"></div>
    	
    	<div id="tower-q-0" class="circle" style="top: 290px; left: 557px;"></div>
    	<div id="tower-q-1" class="circle" style="top: 200px; left: 557px;"></div>
    	<div id="tower-q-2" class="circle" style="top: 129px; left: 555px;"></div>
    	
    	<div id="tower-j-0" class="circle" style="top: 333px; left: 622px;"></div>
    	<div id="tower-j-1" class="circle" style="top: 297px; left: 622px;"></div>
    	<div id="tower-j-2" class="circle" style="top: 257px; left: 622px;"></div>
    	
    	<div id="tower-i-0" class="circle" style="top: 345px; left: 798px;"></div>
    	<div id="tower-i-1" class="circle" style="top: 324px; left: 798px;"></div>
    	
    	<div id="tower-f-0" class="circle" style="top: 308px; left: 873px;"></div>
    	<div id="tower-f-1" class="circle" style="top: 274px; left: 873px;"></div>
    	
    	<div id="tower-h-0" class="circle" style="top: 349px; left: 901px;"></div>
    	
    	<div id="tower-e-0" class="circle" style="top: 329px; left: 1013px;"></div>
    	<div id="tower-e-1" class="circle" style="top: 287px; left: 1013px;"></div>
    	
    	<div id="tower-d-0" class="circle" style="top: 325px; left: 1202px;"></div>
    	
    	<div id="tower-c-0" class="circle" style="top: 327px; left: 1305px;"></div>
    	
    </div>
 <script>

    var audio;
    var trackIndex;
    var audioFiles = ['twr_C_aug21-cm.wav',
     'twr_N_oct6_090_halyard_other-cm-cm.wav',
     'twr_C_aug21-cm-cm.wav',
     'twr_H_sept 21_044_ladder_wire-cm-cm.wav',
     'twr_P_oct6_108_ladder-cm-cm.wav',
     'twr_F_sept21_036_halyard-cm.wav',
     'twr_Q_oct6-cm.wav',
     'twr_E_sept21_017_base-cm_1.wav',
     'twr_M_oct5_080_halyard-cm-cm.wav',
     'twr_M_oct5_073_guide wire play-cm.wav',
     'twr_M_oct5_073_guide wire play-C-cm.wav',
     'twr_J_sept29_059_diagonal base-cm-cm.wav',
     'twr_Q_oct6_082_Xbeams-cm.wav',
     'twr_Q_oct6_082_Xbeams-cm-cm_1.wav',
     'twr_I_sept21_049_base-cm-cm.wav',
     'twr_O_oct6_099_halyard-cm-cm.wav',
     'twr_M_oct5_080_halyard-cm.wav',
     'twr_E_sept21_022_halyard-cm-cm.wav',
     'twr_N_oct6_083_pole-cm-cm.wav',
     'twr_I_sept21_050_Xbeam-cm-cm.wav',
     'twr_I_sept21_050_Xbeam-cm.wav',
     'twr_M_oct5_073_guide wire play-C-cm-cm.wav',
     'twr_C_aug21-cm_1.wav',
     'twr_E_sept21_025_halyard_other-cm-cm.wav',
     'twr_Q_oct6-cm-cm_1.wav',
     'twr_J_sept29_060_halyard clamp-cm-cm.wav',
     'twr_E_sept21_022_halyard-cm_1.wav',
     'twr_M_oct5_073_guide wire play-cm-cm.wav',
     'twr_O_oct6-cm-cm.wav',
     'twr_I_sept21_049_base-cm.wav',
     'twr_O_oct6_099_halyard-cm.wav',
     'twr_E_sept21_025_halyard_other-cm.wav',
     'twr_J_sept29_059_diagonal base-cm.wav',
     'twr_E_sept21_017_base-cm-cm.wav'
    ]


    //let circle = document.querySelector("#tower-p-0");

    var elements = document.getElementsByClassName("circle");

    var myFunction = function() {
        if (this.style.backgroundColor != "#b2a0db")
        {
        	this.style.backgroundColor = "red";
        }
        else
        {
        	this.style.backgroundColor = "#b2a0db";
        }
    };

    for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener('click', myFunction, false);
    }

</script>
    <div class="header"></div>
    <div class="row-wrapper">
        <div class="row">
            <div class="pane">
                Parameters
                <div class="dropdown-content">
                <p>
                  Click on a circle on one of the towers to play a sound that was recorded on that tower. Click again to stop the file.  Click another circle to switch to another recording.
                  </br></br>
                  Each visitor can trigger only one audio file at a time.
                  </br></br>
                  Audio files are different durations ranging from 16 seconds to 6 minutes, some are monotonous, while other are dynamic and vary over time.
                  </br></br>
                  The audio file will play once through when triggered, and will stop when it reaches the end.
                  </br></br>
                  All visitors hear all sounds that are being triggered and manipulated in real time.
                  </br></br>
                  Each player can manipulate only the sound that they trigger by varying the loudness, speed, and direction of the file.
                  </br></br>
                  Visitors are encouraged to explore the sound library and to collaborate with each other in musical improvisation.  
                </p>
                </div>
            </div>
            <div class="pane">
                Sounds
                <div class="dropdown-content">
                <p>
                  During the two years before the RCI site was demolished in 2014, I made several expeditions to develop a library of recordings by placing contact microphones onto the towers and the wires.  The tall metal structures vibrated in the high marsh winds with a rich and complex variety of tones and drones.
                  </br></br>
                  Each tower on the site was identified by a letter of the alphabet, and I organized the sound library to categorize the recordings by the letter of the tower that they were recorded from. On this website, all sounds were recorded from the actual tower on which their trigger appears. 
                  </br></br>
                  13 towers translate into 13 notes of an approximate chromatic scale. The only processing of these files involved focussing on a key frequency (including sub harmonics and ultra harmonics) for each “note” in the scale, ascending from right to left. In some cases, the perfect pitch frequency for the desired note was not present in the actual recording, so the filter was shifted over to the nearest audible sound, hence resulting in an approximate or pitch-imperfect chromatic scale.
                </p>
                </div>
            </div>
            <div class="pane">
                Context
                <div class="dropdown-content">
                <p>
                  Towering 400 feet above the salt water marsh stood an intricate web of thick wire radio antennas transmitting shortwave all over the world. The horizontal wire antennas were suspended in the air with the support of 13 towers and were connected to the transmitter building via many kilometres of transmission lines.
                  </br></br>
                  Erected in 1938, the Radio Canada International (RCI) shortwave relay site was transmitting by 1942.  RCI broadcast to Europe, Africa, South America, and the Arctic.  In addition to Canadian broadcasts, this site also served as a relay for Radio China, Radio Japan, Radio Korea, Voice of Vietnam, and Vatican Radio. Located in Sackville, New Brunswick, it was perfectly positioned to transmit across the Atlantic Ocean, and covered most of the globe with its transmissions. It was the only high power shortwave relay station in Canada.
                  </br></br>
                  In 2012, RCI shortwave service was terminated.  The last Canadian international shortwave broadcast was sent in June of 2012, the final international relays were sent in October 2012, the last arctic broadcast (and the final broadcast to ever transmit from this site) was sent in November 2012.  
                  
                </p>
                </div>
            </div>
        </div>
        <div class="controls">
        Controls
        </div>
<div class="box-container">
    <div class="slider-row">
        <div class="left-slider">
            Volume</br>
            <div class="control-btn">+</div></br>
            <input type="range" min="1" max="100" value="50" class="slider" id="volumeSlider" orient="vertical">
            <div class="control-btn">-</div>
        </div>
        <div class="left-slider">
            Speed</br>
            <div class="control-btn">+</div></br>
            <input type="range" min="1" max="100" value="50" class="slider" id="speedSlider" orient="vertical">
            <div class="control-btn">-</div>
        </div>
    </div>
  <div class="direction-row">
  <div class="top-section">
    <div class="small-pane">
      <div>Direction</div>
      <div class="horizontal-slider">
        <div class="control-btn"><div class="arrow-left"></div></div>&nbsp;&nbsp;
        <!--<input type="range" min="1" max="100" value="50" class="slider" id="directionSlider">-->
        <div class="control-btn"><div class="arrow-right"></div></div>
      </div>
    </div>
    <div class="small-pane">
      <div># of Players</div></br>
      <input type="text" value="X" id="playersCount">
    </div>
    </div>
    
    <!--
    <div class="direction-row">
          <div class="top-section">
    <div class="small-pane">
      Direction
      <input type="range" min="-180" max="180" value="0" class="slider" id="directionSlider">
    </div>
    <div class="small-pane">
      # of Players
      <input type="range" min="1" max="10" value="1" class="slider" id="numPlayersSlider">
    </div>
  </div>
    -->
    <!--
        <div class="map">
	    World Map</br>
	    <img src="https://upload.wikimedia.org/wikipedia/commons/8/80/World_map_-_low_resolution.svg" alt="World Map">
	</div>
    -->
	<div id="chartdiv"></div>
	<script>
	// Map

// Create root
var root = am5.Root.new("chartdiv"); 

// Set themes
root.setThemes([
  am5themes_Animated.new(root)
]);


// Create chart
var chart = root.container.children.push(am5map.MapChart.new(root, {
  panX: "rotateX",
  panY: "none",
  projection: am5map.geoNaturalEarth1()
}));



chart.chartContainer.set("background", am5.Rectangle.new(root, {
  fill: am5.color("#b2a0db"),
  fillOpacity: 0.9
}));

// Create polygon series
var polygonSeries = chart.series.push(am5map.MapPolygonSeries.new(root, {
  geoJSON: am5geodata_worldLow,
  exclude: ["AQ"],
  fill: "black"
}));

// Create point series
var pointSeries = chart.series.push(am5map.MapPointSeries.new(root, {}));

users_geoloc = JSON.parse('{{ users_geoloc }}');
console.log("users_geoloc: ", users_geoloc);
document.getElementById("playersCount").value = users_geoloc.length;

for (geoloc of users_geoloc) {
  console.log(geoloc);
  pointSeries.pushDataItem({ latitude: geoloc[1], longitude: geoloc[0] });
  //console.log('latitude: ', geoloc[0], ', longitude: ', geoloc[1]);
}

pointSeries.bullets.push(function() {
  return am5.Bullet.new(root, {
    sprite: am5.Circle.new(root, {
      radius: 5,
      fill: am5.color("#ff0000")
    })
  });
});

    </script>
  </div>
</div>
</body>
</html>
       
